<app-dialog
  *ngIf="showDialog"
  [title]="'Delete Releases'"
  [items]="[selectedRelease]"
  [message]="'Are you sure you want to delete the following KuboCD releases: '"
  [btnConfirmLabel]="'Delete'"
  (confirmed)="onConfirmDelete()"
  (cancelled)="onCancelDelete()" />

<div class="d-flex flex-column flex-grow-1 h-100">
  <ul *ngIf="!isLoaded" class="d-flex justify-content-center mt-5">
    <li>
      <span class="menu-icon ml-4">
        <app-loading />
      </span>
    </li>
  </ul>
  <div *ngIf="isLoaded" class="row row-cols-1 row-cols-md-4 g-2">
    <div *ngFor="let instance of filtredInstances" class="col">
      <div class="card h-100 rounded-3 shadow-sm mx-auto mx-1" (click)="onShowDetails(instance)">
        <div class="card-header d-flex align-items-center p-2">
          <ul class="nav w-100 d-flex flex-row justify-content-start align-items-center gap-1">
            <li class="nav-item d-flex flex-row gap-1">
              <span class="card-title" [innerHTML]="highlightMatch(instance.metadata.name)"></span>
              <i
                class="material-symbols-outlined border-0 fw-bold"
                [ngClass]="'text-' + instance.statusLabel"
                >{{ instance.statusIcon }}</i
              >
            </li>
            <li class="nav-item ms-auto">
              <span class="badge rounded-pill" [ngClass]="'bg-' + instance.statusLabel">
                {{ instance.statusText | titleCase }}
              </span>
            </li>
          </ul>
        </div>

        <div class="card-body text-primary d-flex flex-column">
          <div class="position-relative">
            <img alt="Service instance" class="me-1 card-icon float-start" src="images/{{ instance?.icon }}" />
            <p class="card-text ms-0 mt-0" [innerHTML]="highlightMatch(instance?.description)"></p>
          </div>
        </div>

        <div class="card-footer border-0">
          <ul class="nav d-flex flex-row justify-content-end align-items-center gap-2">
            <li class="nav-item me-3">
              <i
                role="button"
                class="material-symbols-outlined text-okdp-primary cursor-pointer"
                matTooltip="Add to favorites"
                (click)="onFavorite(instance)"
                >favorite</i
              >
            </li>
            <li *ngIf="instance?.endpoint !== ''" class="nav-item">
              <a
                class="nav-link rounded-pill nav-item-primary d-visible d-flex align-items-center text-truncate px-2 py-1 w-auto"
                target="_blank"
                href="{{ instance?.endpoint }}">
                <i class="material-symbols-outlined text-primary border-0">open_in_new</i>
                <span class="text-primary ps-1">UI</span>
              </a>
            </li>
            <li class="nav-item">
              <i
                role="button"
                class="material-symbols-outlined text-okdp-primary cursor-pointer"
                matTooltip="Show details"
                (click)="onShowDetails(instance)"
                >visibility</i
              >
            </li>
            <li class="nav-item">
              <i
                role="button"
                class="material-symbols-outlined text-okdp-primary cursor-pointer"
                matTooltip="Edit"
                (click)="onEdit(instance)"
                >edit</i
              >
            </li>
            <li class="nav-item">
              <i
                role="button"
                class="material-symbols-outlined text-okdp-primary cursor-pointer"
                matTooltip="Delete"
                (click)="onDelete(instance)"
                >delete</i
              >
            </li>
            <li class="nav-item mx-3">
              <app-kebab-menu
                [options]="[
                   {key: 'na', value: 'View logs', icon: 'article'},]" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
