<nav id="sidebar" class="sidebar" [ngClass]="{ toggled: isCollapsed }">
  <div class="sidebar-layout">
    <div class="sidebar-content">
      <!-- Principal services (Home, catalog, etc. )-->
      <div class="menu">
        <ul class="d-flex justify-content-end position-relative">
          <li class="menu-item animation-none">
            <a class="px-2" (click)="onToggle()">
              <span class="menu-icon rotate-icon-180 top-0 end-0" [ngClass]="{'rotated': !isCollapsed}">
                <i class="fa-solid fa-angles-right icon-07x"></i>
              </span>
            </a>
          </li>
        </ul>
        <ul>
          <li class="menu-item" [ngClass]="{ active: activeMenu === 'home' }">
            <a class="px-2" routerLink="/home" ariaCurrentWhenActive="page" (click)="onClick('home')">
              <span class="menu-icon"><i class="fa-solid fa-home"></i></span>
              <span class="menu-title">Home</span>
            </a>
          </li>
        </ul>
        <ul>
          <li class="menu-item" [ngClass]="{ active: activeMenu === 'catalogs' }">
            <a class="px-2" routerLink="/catalogs" ariaCurrentWhenActive="page" (click)="onClick('catalogs')">
              <span class="menu-icon"><i class="fa-solid fa-layer-group"></i></span>
              <span class="menu-title">Catalog</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- OKDP services -->
      <div class="menu">
        <ul>
          <li class="menu-header">
            <span>Services</span>
          </li>
        </ul>
        <ul *ngIf="!isLoaded" class="d-flex justify-content-center mt-5">
          <li>
            <app-loading />
          </li>
        </ul>
        <ul *ngIf="isLoaded">
          <li *ngFor="let menu of catalogs" class="menu-item" [ngClass]="{ active: activeMenu === menu.name }">
            <a
              class="px-2"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              routerLink="/services/{{ menu.name }}/instances"
              (click)="onClick(menu.name)">
              <span class="menu-icon"><i class="{{ menu.icon }}"></i></span>
              <span class="menu-title">{{ menu.name | titleCase }}</span>
              <span class="menu-suffix">
                <span *ngIf="menu.badge" class="badge rounded-pill" [ngClass]="menu.badge.class">
                  {{ menu.badge.text }}
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
