.title-icon {
    font-size: 1rem;
    width: 35px;
    min-width: 35px;
    height: 35px;
    line-height: 1;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    border-radius: 2px;
    transition: color 0.3s;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}