<div class="container mx-0 px-0 pt-4 position-relative">
  <mat-horizontal-stepper linear="false" animationDuration="2000" [selectedIndex]="currentStep">
    <mat-step
      *ngFor="let label of stepLabels; let index = index"
      editable="false"
      [label]="label"
      [completed]="isStepCompleted(index)">
      <ng-template matStepLabel>{{ label }}</ng-template>
      <div style="display: none;"></div>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<router-outlet (activate)="onStepActivate($event)" />
