<div class="container-fluid  align-items-center mx-0 px-0 pt-4">
  <ul *ngIf="!isLoaded" class="d-flex justify-content-center mt-5">
    <li>
      <span class="menu-icon ml-4">
        <app-loading />
      </span>
    </li>
  </ul>
  <div *ngIf="isLoaded" class="row row-cols-1 row-cols-md-4 g-2">
    <div *ngFor="let instance of filtredInstances" class="col">
      <div class="card h-100 rounded-3 shadow-sm mx-auto mx-1">
        <div class="card-header d-flex align-items-center p-2">
          <ul class="nav w-100 d-flex flex-row justify-content-start align-items-center gap-1">
            <li class="nav-item d-flex flex-row gap-1">
              <span class="card-title" [innerHTML]="highlightMatch(instance.service.name)"></span>
              <i class="material-symbols-outlined text-success border-0 fw-bold">check_circle</i>
            </li>
            <li class="nav-item ms-auto">
              <span class="badge rounded-pill bg-success">Running</span>
            </li>
          </ul>
        </div>

        <div class="card-body text-primary d-flex flex-column">
          <div class="position-relative">
            <img alt="Service instance" class="me-1 card-icon float-start" src="images/{{ instance?.icon }}" />
            <p class="card-text ms-0 mt-0" [innerHTML]="highlightMatch(instance?.description)"></p>
          </div>
        </div>

        <div class="card-footer border-0">
          <ul class="nav d-flex flex-row justify-content-end align-items-center gap-1">
            <li class="nav-item">
              <button type="button" class="nav-link nav-item-primary d-flex align-items-center px-2 py-1 w-auto">
                <i class="material-symbols-outlined text-primary okdp-text-outlined border-0">favorite</i>
              </button>
            </li>
            <li class="nav-item">
              <app-kebab-menu
                [options]="[
                   {key: 'na', value: 'Show details', icon: 'visibility'},
                   {key: 'na', value: 'Update', icon: 'update'},
                   {key: 'na', value: 'Delete', icon: 'delete'},
                   {key: 'na', value: 'Suspend', icon: 'pause'}
                   ]" />
            </li>
            <li *ngIf="instance?.endpoint !== ''" class="nav-item">
              <a
                class="nav-link rounded-pill nav-item-primary d-visible d-flex align-items-center text-truncate px-2 py-1 w-auto"
                target="_blank"
                href="{{ instance?.endpoint }}">
                <i class="material-symbols-outlined text-primary border-0">open_in_new</i>
                <span class="text-primary ps-1">UI</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
